body {
  font-family: -apple-stsyem, BlinkMacSystemFont,Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Neue, sans-seriff;
  font-size: 16px;
}

.container{
  text-align: center;
  font-size: 2em;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
}

.popular-list {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}

.popular-item {
 margin: 20px;
 text-align: center;
}

.space-list-items {
 margin-bottom: 7px;
}

.avatar {
 width: 150px;
}
